
.left, .right {
  background-color: rgba(0, 0, 0, 0);
  /*docs: https://css-tricks.com/almanac/properties/f/filter/ */
 /*-webkit-backdrop-filter: blur(5px);*/
 /* backdrop-filter: blur(5px);*/
  -webkit-backdrop-filter: url("#filter");
  backdrop-filter: url("#filter");
  z-index: 10;
}

.left {
    border-radius: 50px 11px 11px 50px;
}

.right {
    border-radius: 11px 50px 50px 11px;
}

